section{
    min-height: 50vh;
    background-image: url("../image/design-marketo.jpg");
    position: absolute;
    height: 1000px;
    width: 2000px;
    background-size: cover;
}
nav{
    height: 100px;
}
nav h1{
    float: left;
    line-height: 80px;
    font-size: 35px;
    font-size: inline;
    color: black;
}
nav ul{
    float: right;
    line-height: 90px;
}
nav ul li{
    display: inline-block;
    list-style: none;
    padding: 0px 5px;
}
nav ul li a{
    color:gray;
    font-size: 20px;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 2px;
    padding: 7px 9px;

}
nav ul li a:hover{
    background-color:#fff;
    transition: 0.5s ease;
}
h1{
    font-size:30px ;
    color:#fff;
}
h1 a{
    color: #333;
}

ul{
    list-style: none;
    
}
ul li{
    display: inline-block;
    
}
ul li a{
    display: block;
    font-size: 20px;
}


ul li ul.dropdown li {
    display: block;
    
  }
.dropdown{
    display: none;
  }
.a:hover .dropdown{
    display: inline;
}
.b{
 background-size: cover;
}

ul li a:hover{
    background-color: aliceblue;
}

  
  
   
  
 
  
 
  
  

  


  